.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
  background-color: #f5f5f5;
}

.register-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-group label {
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.password-group {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
}


.register-button {
  width: 100%;
  background-color: #250b6d;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #0056b3;
}

.register-button:disabled {
  background-color: #aaa;
}

.bottom-text {
  margin-top: 10px;
  font-size: 14px;
}

.bottom-text a {
  color: #007bff;
  text-decoration: none;
}
